@font-face {
    font-family: 'montserrat-bold';
    src: url('Montserrat-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-regular';
    src: url('Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

