* {
    font-family: montserrat-regular sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.uppercase{
    text-transform: uppercase;
}


.first-sec{
    background-image: url("img/Sections background/section-1(header).jpg");
    background-size: cover;
    text-align: center;

}
.container{
    width: 100%;
    height: 120px;
    margin: 0 ;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    padding: 0;

}
.blue{
    color: #18cfab;
}
.header{
    color: white;
}
.logo{
    float: left;
    width: 58px;
    height: 67px;
    border: 1px solid #18cfab;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18cfab;
    margin-left: 200px;
    margin-top: -20px;


}
.main{
    font-size:70px;
    margin-top: 40px;
    font-weight: bolder;
}
.second{
    font-size: 35px;
    margin-top:200px;
    font-weight: bolder;

}
.btn{
    width: 166px;
    height: 61px;
    border: 1px solid white;
    border-radius: 5px;
    border: none;
    margin-right: 15px;
    margin-top: 50px;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px -3px white;
    margin-bottom: 150px;
    cursor: pointer;
}
.first-button{
    background-color: #18cfab;

}
.second-button{
    background-color: #00cbf6;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0px -3px  #666;
    transform: translateY(2px);
}
.third{
    margin-top: 40px;
    font-weight: lighter;
    font-size: 35px;
    color: rgba(255,255,255,0.5);
    text-transform: capitalize;



}
#service{
    width: 1200px;
    font-size: 13px;
    text-align: right;
    padding-top: 45px;

}
a{
    text-decoration: none;
    color: rgba(212, 212, 212, 255);


}
ul#service li{
    display: inline;
    padding: 10px;


}
.theme{
    display: inline-block;
    width: calc(100% / 4 );
    height: 375px;
    border: 1px solid black;
    border: none;
    float: left;
    text-align: center;
}
.clear-both{
    clear: both;
}
.t1{
    background-color: #1c2a33;
    box-shadow: 0 -5px #18cfab;

}
.t2{
    background-color: #18cfab;
    color: white;
    box-shadow: 0 -5px white;

}
.th-im1{
    width: 58px;
    height: 97px;
    margin-top: calc(100% / 3);
    margin-bottom: 40px;


}
.th-im2{
    width: 93px;
    height: 75px;
    margin-top: calc(100% / 3);
    margin-bottom: 59px;



}
.th-im3{
    width: 60px;
    height: 96px;
    margin-top: calc(100% / 3);
    margin-bottom: 40px;

}
.th-im4 {
    width: 99px;
    height: 76px;
    margin-top: calc(100% / 3);
    margin-bottom: 59px;
}

.services-header{
    text-align: center;
    padding-top: 50px;
    text-transform: capitalize;
    font-size: 36px;
    font-weight: lighter;
    padding-bottom: 15px;
}
ul.tabs-content {
    list-style: none;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 862px;
}

.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1280px;
}

.tabs {
    display: flex;
}

.tabs-title {
    padding: 25px;
    background-color: #f8fcfe;
    color: #959697;
    cursor: pointer;
    border: 1px solid #f4f7f8;
    text-transform: capitalize;

}

.tabs-title.active {
    background-color: #18cfab;
    color: white;


}
.tabs-text{
    text-align: justify;
}
.tabs-text>img{
    width: 130px;
    height: 115px;
    margin-right: 15px;
}

.purchase-section{
    background-image: url("img/Sections background/section-2.jpg");
    /*background-image: linear-gradient(#272322, #272322);*/
    background-size: cover;
    text-align: center;
}
.layer{
    background-color: rgba(9, 9, 9, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.purchase-header{
    font-size: 30px;
    padding-top:  100px;
    font-weight: bolder;
}
.second-header-purchase{
    color: white;
    font-size: 16px;
    margin-top: 35px;

}

.button-purchase{
    width: 165px;
    height: 61px;
    border: 1px solid white;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px -3px white;
    margin-bottom: 100px;
    background-color: #18cfab;
    margin-top: 50px;

}
.header-skew{
    margin-left: calc(100% / 2 - 38px);
    height: 5px;
    width: 76px;
    border-bottom: 1px solid #18cfab;
    border-top: 1px solid #18cfab;
    transform: skew(70deg);
    display: inline-block;
    margin-bottom: 20px;

}
.tab-icons {
    width: 41px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 100%;
    display: flex;
    justify-content: space-around;}
.li-first{
    float: left;
    color: white;
    font-size: 16px;
}

.icon1{
      background-color: white;
  }
.icon2{
    background-color: #18cfab;
}
.icon1>img{
    height: 15px;
    margin-top: 10px;
}
.icon2>img{
    height: 15px;
    margin-top: 10px;
}
.imagesAll{
    width: 286px;
    height: 208px;
}
.work-section{
    background-color: #f8fcfe;
}
.amazing-post{
    background-color: #f8fcfe;
    border: 1px solid #f2f4f5;
    display: inline-block;
    text-transform: capitalize;
    margin-right: 20px;
    position: relative;


}
.theone{
    margin-left: 110px;

}
.square{
    width: 68px;
    height: 40px;
    background-color: gray;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding-top: 20px;
}
.amazing-header{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #777777;
}
.square:hover{
    background-color: #00cbf6;
}


.comments{
    margin-bottom: 10px;
}

.breaking-news{
    margin-bottom: 50px;
}
.aboutHam{
    background-image: url("img/Sections background/section-3.jpg");
    background-size: cover;
    color: white;

}
.quote{
    margin-left: calc(100% / 2 - 22px);
    margin-bottom: 50px;
}
.quoteofdev{
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    font-size: 16px;
    text-transform: capitalize;
    color: #677579;
    padding-bottom: 50px;

}




.container-slick {
    margin: 0 auto;
    /*background-color: teal;*/
}
.slick-bigger,
.slick-smaller {
    margin: 0 auto;
    width: 62px;
}
.logo-hexagon {
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: teal;
}

.section-title {
    font-family: sans-serif;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.section-title::after {
    content: '';
    display: block;
    width: 75px;
    border-top: 2px solid green;
    box-shadow: 10px 4px 0 0 green;
    margin: 20px auto 0;
}
